<h2 class="page-header">New Book</h2>
<comment: in order to use file for our coverImage we need to change our form in new page here to be of the type of multi type form>
<comment: in order to do that we need to set enctype to equal to multipart form-data. It tells.. >
<comment: our server that our form is going to be sending a multipart data which could include a file>
<comment: We no longer need enctype="multipart/form-data" as part of form below since file encode plugin 
of filepond uses a JSON string so it can also add the file size, type, name, and metadata. The data
property is a base 64 encoded version of the file. It is essentially a string representatiom of the image 
that we are uploading from the browser to the server>
<form action = "/books" method = "POST" >
    <%- include("_form_fields")%>
    <a href="/books">Cancel</a>
    <button type = "submit">Create</button>
</form>