<header>
  <comment: style our header.js with css classes so that we know how too select it in our CSS>
  <comment: first thing we need to add a class to our nav so that we know which nav we are selecting>
  <comment: This is going to be called header-nav>
  <nav class="header-nav">
    <comment: Here we are going to have our header title class so we can select this latter in our CSS>
    <a class="header-title" href="/">Mybrary</a>
    <ul>
      <comment: li stands for links, we are going to give our links a class of header-link>
      <li ><a href="/authors">Authors</a></li>
      <li ><a href="/authors/new">Add Author</a></li>
      <li ><a href="/books">Books</a></li>
      <li ><a href="/books/new">Add Book</a></li>
    </ul>
  </nav>
</header>