<h2 class="page-header">Edit Author</h2>
<comment: change from action to have the id at the end. Ovverides POST to use PUT in arthors route>
<form action="/authors/<%= author.id %>?_method=PUT" method="POST">
  <%- include('_form_fields') %>
  <div class = "form-row form-row-end btn-row">
    <comment: cancel automatically brings us back to the arthor show page by creating a 
    url using the selected arthor's id>
    <a class="btn btn-danger" href="/authors/<%= author.id %>">Cancel</a>
    <comment: type submit is handled by our form action> 
    <button class="btn btn-primary" type="submit">Update</button>
  </div>
</form>