<h2 class="page-header"><%= author.name %></h2>
<comment: author.id that way we edit the corrct author>  
<a href="/authors/<%= author.id %>/edit">Edit</a>
<comment: inculdes partial delete form > 
<%- include('../partials/deleteForm',
            { url: `/authors/${author.id}` }) %>
<% if (booksByAuthor.length > 0) { %>
  <h2>Books By Author</h2>
  <% booksByAuthor.forEach(book => { %>
    <img height="150" width="100" src="<%= book.coverImagePath %>">
  <% }) %>
<% } %>